<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>collegepro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>collegeproj.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>collegeproj.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>collegeproj.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil1</display-name>
    <servlet-name>DBUtil1</servlet-name>
    <servlet-class>collegeproj.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil1</servlet-name>
    <url-pattern>/DBUtil1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionServlet</display-name>
    <servlet-name>AdmissionServlet</servlet-name>
    <servlet-class>collegeproj.AdmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionServlet</servlet-name>
    <url-pattern>/AdmissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet1</display-name>
    <servlet-name>AddCourseServlet1</servlet-name>
    <servlet-class>collegeproj.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet1</servlet-name>
    <url-pattern>/AddCourseServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnectionadmin</display-name>
    <servlet-name>DBConnectionadmin</servlet-name>
    <servlet-class>collegeproj.DBConnectionadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectionadmin</servlet-name>
    <url-pattern>/DBConnectionadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDashboardServlet</display-name>
    <servlet-name>FacultyDashboardServlet</servlet-name>
    <servlet-class>collegeproj.FacultyDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDashboardServlet</servlet-name>
    <url-pattern>/FacultyDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentsServlet</display-name>
    <servlet-name>ViewStudentsServlet</servlet-name>
    <servlet-class>collegeproj.ViewStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentsServlet</servlet-name>
    <url-pattern>/ViewStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>collegeproj.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignmentServlet</display-name>
    <servlet-name>AssignmentServlet</servlet-name>
    <servlet-class>collegeproj.AssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentServlet</servlet-name>
    <url-pattern>/AssignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assignment</display-name>
    <servlet-name>Assignment</servlet-name>
    <servlet-class>collegeproj.Assignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assignment</servlet-name>
    <url-pattern>/Assignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeServlet</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>collegeproj.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grade</display-name>
    <servlet-name>Grade</servlet-name>
    <servlet-class>collegeproj.Grade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grade</servlet-name>
    <url-pattern>/Grade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveTimetableServlet</display-name>
    <servlet-name>SaveTimetableServlet</servlet-name>
    <servlet-class>collegeproj.SaveTimetableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveTimetableServlet</servlet-name>
    <url-pattern>/SaveTimetableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadMaterialsServlet</display-name>
    <servlet-name>UploadMaterialsServlet</servlet-name>
    <servlet-class>collegeproj.UploadMaterialsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMaterialsServlet</servlet-name>
    <url-pattern>/UploadMaterialsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveTimetableServlet1</display-name>
    <servlet-name>SaveTimetableServlet1</servlet-name>
    <servlet-class>collegeproj.SaveTimetableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveTimetableServlet1</servlet-name>
    <url-pattern>/SaveTimetableServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveTimetableServlet2</display-name>
    <servlet-name>SaveTimetableServlet2</servlet-name>
    <servlet-class>collegeproj.SaveTimetableServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveTimetableServlet2</servlet-name>
    <url-pattern>/SaveTimetableServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNoticeServlet</display-name>
    <servlet-name>addNoticeServlet</servlet-name>
    <servlet-class>collegeproj.addNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNoticeServlet</servlet-name>
    <url-pattern>/addNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>collegeproj.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>collegeproj.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutSessionServlet</display-name>
    <servlet-name>CheckoutSessionServlet</servlet-name>
    <servlet-class>collegeproj.CheckoutSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutSessionServlet</servlet-name>
    <url-pattern>/CheckoutSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadMaterialServlet</display-name>
    <servlet-name>DownloadMaterialServlet</servlet-name>
    <servlet-class>collegeproj.DownloadMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMaterialServlet</servlet-name>
    <url-pattern>/DownloadMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>collegeproj.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
</web-app>